In [ ]:
#1
print('Hello World')

In [ ]:
# Q2 
print('Hello, Bivek Kumar sah!')

In [ ]:
# Q3
print(f'38.4C is equivalent to {38.4 * 1.8 + 32}F.')

In [ ]:
# Q4 
print(f'Sir Geoffrey\'s batting average for Yorkshire was {48426 / (1014 - 162):.2f}.')

In [ ]:
# Q5
print(f'113 students need {113 // 24} full labs, with {113 % 24} students left over.')
print(f'175 students need {175 // 24} full labs, with {175 % 24} students left over.')
print(f'12 students need {12 // 24} full labs, with {12 % 24} students left over.')